<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862359196510-sln74ntq8u6ekkh6htl3pvkp6af16btr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862359196510-sln74ntq8u6ekkh6htl3pvkp6af16btr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>862359196510-idpc4lsud9c78dkiijd53gmj3s3arkuq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAgF7TlXMUuXsndCKpVLrYBXUaPpN-vMY</string>
	<key>GCM_SENDER_ID</key>
	<string>862359196510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chaty-79c64</string>
	<key>STORAGE_BUCKET</key>
	<string>chaty-79c64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862359196510:ios:1fdde9d0608c1cd61eb5cf</string>
</dict>
</plist>